{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": ["mocha", "flow-vars"],
  "env": {
    "mocha": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "max-len": 0,
    "no-param-reassign": 0,
    "mocha/no-exclusive-tests": 2,
    "global-require": 0,
    "no-underscore-dangle": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-named-as-default": 0,
    "react/require-extension": 0,
    "flow-vars/define-flow-type": 1,
    "flow-vars/use-flow-type": 1
  },
  "settings": {
    "import/resolver": {
      "babel-module-alias": {},
      "webpack": {}
    }
  }
}
