{% import 'helpers/application.html' as applicationHelper %}

<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {{ applicationHelper.csrfMetaTags(csrf) }}

      <title>Application</title>

      <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
      {{ applicationHelper.webpackCssBundleTag(env, 'app', assetManifest) }}
  </head>

  <body>
    {% block mainContent %}{% endblock %}

    {{ applicationHelper.prerenderData(prerenderData, false) }}
    {{ applicationHelper.javascriptIncludeTag('https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js') }}
    {{ applicationHelper.webpackManifestScript(env, commonManifest) }}
    {{ applicationHelper.webpackBundleTag(env, 'app', assetManifest) }}
  </body>
</html>
