<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Application</title>

        <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
        <webpack-css-bundle-tag env=data.layoutData.env.NODE_ENV asset-manifest=data.layoutData.assetManifest.styles name="common" />
        <webpack-css-bundle-tag env=data.layoutData.env.NODE_ENV asset-manifest=data.layoutData.assetManifest.styles name="app" />
    </head>

    <body>
        <layout-placeholder name="mainContent" />

        <prerender-data data=data.layoutData.prerenderData />

        <webpack-bundle-tag name='common' asset-manifest=data.layoutData.assetManifest.javascript />
        <webpack-bundle-tag name='app' asset-manifest=data.layoutData.assetManifest.javascript />
    </body>
</html>
