{% macro csrfMetaTags(csrf) %}
  <meta content="{{ csrf }}" name="csrf-token">
{% endmacro %}

{% macro javascriptIncludeTag(src) %}
  <script type="text/javascript" src={{ src }}></script>
{% endmacro %}

{% macro stylesheetLinkTag(src) %}
  <link rel="stylesheet" media="all" href={{ src }} />
{% endmacro %}

{% macro webpackManifestScript(env, commonManifest) %}
  {% if env == 'production' %}
    <script type="text/javascript">
      window.webpackManifest = {{ commonManifest | json | safe }};
    </script>
  {% endif %}
{% endmacro %}

{% macro prerenderData(data, flag) %}
  {% if flag %}
    <script type="text/javascript">
      window.__data = {{ data | json | safe }};
    </script>
  {% endif %}
{% endmacro %}

{% macro webpackBundleTag(env, name, assetManifest={}) %}
  {% if env == 'production' %}
    {{ javascriptIncludeTag('/assets/' + assetManifest[name + '.js']) }}
  {% else %}
    {{ javascriptIncludeTag('http://localhost:8080/build/' + name + '.bundle.js') }}
  {% endif %}
{% endmacro %}

{% macro webpackCssBundleTag(env, name, assetManifest={}) %}
  {% if env == 'production' %}
    {{ stylesheetLinkTag('/assets/' + assetManifest[name + '.css']) }}
  {% endif %}
{% endmacro %}
