<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#000000">

        <title>Application</title>

        <link rel="manifest" href="/manifest.json">
        <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
        <webpack-css-bundle-tag env=input.env.NODE_ENV asset-manifest=input.assetManifest.styles name="styles" />
        <webpack-css-bundle-tag env=input.env.NODE_ENV asset-manifest=input.assetManifest.styles name="app" />
    </head>

    <body>
        <include(input.mainContent) />

        <render-javascript-assets-tag javascript=input.assetManifest.javascript />
        <prerender-data data=input.prerenderData />

        <script type="text/javascript">
            window.__csrf = "$!{input.csrf}";
        </script>

        <webpack-bundle-tag name='styles' asset-manifest=input.assetManifest.javascript />
        <webpack-bundle-tag name='app' asset-manifest=input.assetManifest.javascript />
    </body>
</html>
