{% macro stylesheet_link_tag(src) %}
  <link rel="stylesheet" media="all" href="{{ src }}” />
{% endmacro %}

{% macro javascript_include_tag(src) %}
  <script type="text/javascript" src="{{ src }}"></script>
{% endmacro %}

{% macro webpack_manifest_script(env, commonManifest) %}
  {% if env == 'production' %}
    <script type="text/javascript">
      window.webpackManifest = {{ commonManifest | json | safe }};
    </script>
  {% endif %}
{% endmacro %}

{% macro webpack_bundle_tag(env, name, assetManifest={}) %}
  {% if env == 'production' %}
    {{ javascript_include_tag(assetManifest[name] + '.js') }}
  {% else %}
    {{ javascript_include_tag('http://localhost:8080/build/' + name + '.bundle.js') }}
  {% endif %}
{% endmacro %}
